<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
<title><%= title%></title>
    
  </head>
  <body>
    <main class="login-form">
      <div class="container">
            <% if(locals.errors){ %> <% locals.errors.forEach(function(error){ %>
                <p class="alert alert-danger"><%= error.msg%></p>
                <% }) %> <%}%>
          <div class="row justify-content-center">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">New Post</div>
                      <div class="card-body">
                          <form action="/" method="POST">
                              <div class="form-group row">
                                  <div class="col-md-6">
                                      <input type="text" id="email_address" class="form-control" name="post_title" placeholder="Post Title" required autofocus>
                                  </div>
                              </div>
  
                              <div class="form-group row">
                                  <div class="col-md-6">
                                      <input type="type" id="password" class="form-control" name="reading_time" placeholder="Reading time" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                <textarea placeholder="Post Text" class="form-control" rows="5" id="comment" name="post_text"></textarea>
                              </div>
                          
                              <div class="col-md-6 offset-md-4">
                                  <button id="submit" type="submit" class="btn btn-primary">
                                      ADD
                                  </button>
                                  <a  href="/post" class="btn btn-default">Show Post</a>
                              </div>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
  
  </main>
  
  <script src="/js/main.js" ></script>
  </body>
</html>
