<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
<title><%= title%></title>
    
  </head>
  <body>
    <main class="login-form">
      <div class="container">
          <h1>Title</h1>
          <h5>3 min</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, illum amet. Eligendi nam ab consectetur vero? Veritatis, id harum! Beatae eos asperiores vero, facilis veritatis molestias architecto eligendi repudiandae dolores!</p>
      </div>
      </div>
  
  </main>
  
  </body>
</html>
